@model DoCeluNaCzas.Models.ViewModels.Index.MainPageForm

<div>
    <div class="btn-group btn-group-toggle time-label" data-toggle="buttons">
        <label class="btn btn-secondary active" id="arrival">
            Przyjazd @Html.RadioButton("Option", "Arrival")
            <!-- <input type="radio" name="options" autocomplete="off" checked> Przyjazd-->
        </label>
        <label class="btn btn-secondary" id="departure">
            Odjazd @Html.RadioButton("Option", "Departure")
        </label>
    </div>
    <div class="clock">
        <!--<input type="date" class="form-control"/>-->
        <!--<input type="time" class="form-control clock" id="clock" />-->

        @Html.EditorFor(model => model.DateClock, new { @class = "clockProperties" })
    </div>
</div>



<div class="form-group">
    <a class="" role="button" data-toggle="collapse" href="#optionPanel" aria-expanded="false" aria-controls="optionPanel" id="optionCollapse">
        <strong>Opcje</strong>
    </a>


    <div class="collapse " id="optionPanel">
        <div class="means-of-transport-container">

            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div data-toggle="buttons">

                        <label class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            @Html.CheckBoxFor(m => m.TramCheckBox)
                            <img src="https://svgsilh.com/svg/309520.svg" id="tramIcon">
                        </label>

                        <label class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            @Html.CheckBoxFor(m => m.BusCheckBox)
                            <img src="https://svgsilh.com/svg/2027077.svg" id="busIcon">
                        </label>

                        <label class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            @Html.CheckBoxFor(m => m.TrainCheckBox)
                            <img src="https://svgsilh.com/svg/310470.svg" id="trainIcon">
                        </label>

                        <label class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            @Html.CheckBoxFor(m => m.TribusCheckBox)
                            <img src="https://svgsilh.com/svg/309520.svg" id="tribusIcon">
                        </label>

                    </div>
                </div>
            }
        </div>
        <div>
            @Html.CheckBoxFor(m => m.AvoidChange, false)

            <label>Unikaj przesiadek</label>

        </div>
    </div>
    <div class="buttonRoute" id="buttonPanel">
        <input type="submit" class="btn btn-primary" id="searchRouteButton" value="Ok" />
    </div>
</div>
