@model DoCeluNaCzas.Models.Index.MainPageForm

<div class="row ">
    <div class="col-md-6 overlap">
        @using (Html.BeginForm("MainFormSearchRoute", "MainPageForm", FormMethod.Post))
        {
            //<form method="post" action="@Url.Action("MainFormSearchRoute","MainPageForm")">


                  <div class="form-group">
                      <label>Od</label>
                      @Html.TextBoxFor(m => m.InputFrom)
                      <div>
                          <label>Do</label>
                          @Html.TextBoxFor(m => m.InputTo)
                      </div>
                      <!-- <input type="text" id="input_from" name="input_from" class="form-control" placeholder="Od" /> -->
                  </div>


            <div>
                <div class="btn-group btn-group-toggle time-label" data-toggle="buttons">
                    <label class="btn btn-secondary active" id="arrival">
                        Przyjazd @Html.RadioButton("Option", "Arrival")
                        <!-- <input type="radio" name="options" autocomplete="off" checked> Przyjazd-->
                    </label>
                    <label class="btn btn-secondary" id="departure">
                        Odjazd @Html.RadioButton("Option", "Departure")
                    </label>
                </div>
                <div id="clock"  >
                    <!--<input type="date" class="form-control"/>-->
                    <!--<input type="time" class="form-control clock" id="clock" />-->
                    
                    @Html.EditorFor(model => model.DateClock)
                </div>
            </div>



            <div class="form-group">
                <a class="" role="button" data-toggle="collapse" href="#optionPanel" aria-expanded="false" aria-controls="optionPanel" id="optionCollapse">
                    <strong>Opcje</strong>
                </a>


                <div class="collapse " id="optionPanel">
                    <div class="means-of-transport-container">
                       <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                            <!--<img src="https://svgsilh.com/svg/309520.svg" id="tramIcon" class="">-->
                            @Html.CheckBoxFor(m => m.TramCheckBox, false)

                        </div>
                       <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                           <!-- <img src="https://svgsilh.com/svg/2027077.svg" id="busIcon" class="">-->
                           @Html.CheckBoxFor(m => m.BusCheckBox, false)
                       </div>
                       <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                           <!--<img src="https://svgsilh.com/svg/310470.svg" id="trainIcon" class="">-->
                           @Html.CheckBoxFor(m => m.TrainCheckBox, false)

                       </div>
                       <div class="btn btn-img panel panel-default col-md-3 col-sm-6 means-of-transport-icon">
                           <!--<img src="https://svgsilh.com/svg/309520.svg" id="tribusIcon" class="">-->
                           @Html.CheckBoxFor(m => m.TribusCheckBox, false)

                       </div>
                    </div>
                    <div>
                        @Html.CheckBoxFor(m => m.AvoidChange, false)
                        
                        <label>Unikaj przesiadek</label>

                    </div>
                </div>
                <div class="buttonRoute" id="buttonPanel">
                    <input type="submit" class="btn btn-primary" id="searchRouteButton" value="Ok" />
                </div>
            </div>

            // </form>
        }
    </div>



    <div class="col-md-6">

    </div>
</div>
