@model DoCeluNaCzas.Models.ViewModels.Index.IndexModel

@{ViewBag.Title = "Home Page";}

<!--Prawdopodobnie mapa przysłania pasek nawigacji dlatego nie jest on widoczny-->
@{
    Html.RenderPartial("Partials/_IndexMap", Model.MarkerArrayIndex);
}


<!--{
    Html.RenderPartial("Partials/_IndexForm", Model.SpotsListIndex);
}-->

@{var spot = Model; }

<div class="row ">
    <div class="col-md-4 col-lg-4 col-xl-2">
        <!--<div class="search-route-container">-->
        @using (Html.BeginForm("MainFormSearchRoute", "MainPageForm", FormMethod.Post))
        {

            <form>
                <div class="form-group">
                    @Html.DropDownList("SpotFrom", (SelectList)ViewBag.SpotsListIndex, "Od", new { @class = "form-control", id = "dropdownFrom" })
                </div>

                <div class="form-group">
                    @Html.DropDownList("SpotTo", (SelectList)ViewBag.SpotsListIndex, "Do", new { @class = "form-control", id = "dropdownTo" })

                </div>

                <div class="form-group">

                    <!--<input type="datetime-local" name="Time" class="form-control" id="datetime">-->
                    @Html.TextBoxFor(model => model.FromDate, new { type = "date" })
                    @Html.EditorFor(model => model.DateClock, new { htmlAttributes = new { @class = "clock" } })


                </div>

                <div class="form-group">
                    <div class="btn-group-toggle radio-buttons" data-toggle="buttons">
                        <div class="btn btn-radio">
                            Przyjazd @Html.RadioButton("Option", "Arrival", new { id = "arrivalRadioButton" })

                        </div>
                        <div class="btn btn-radio">
                            Odjazd @Html.RadioButton("Option", "Departure", new { id = "departureRadioButton" })

                        </div>
                    </div>
                </div>


                <input type="submit" name="button" class="btn btn-turquoise" id="searchRouteBtn" value="Szukaj" />
                <!--Html.DropDownListFor(x => x.SpotsListIndex, new SelectList(ViewBag.SpotsListIndexFrom, "Value", "Text")) -->
                <!-- Html.DropDownListFor(x => x.SpotsListIndex, new SelectList(ViewBag.SpotsListIndexTo, "Value", "Text")) -->
            </form>
        }
        <!--</div>-->
    </div>
</div>