@model DCNC.Bussiness.Models.Route[]
@foreach (var routes in Model)
{

<!--Połączenie: ViewBag.SpotFrom  ---  ViewBag.SpotTo-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <text>
                <div class="panel-container float-left">
                    <div class="panel-title align-center">
                        <h4>Trasa</h4>
                    </div>
                    <h5>Linie: @routes.Buses</h5>

                    @if (routes.ChangeList.Count == 0)
                    {
                    <text>
                        <h5>Brak dostepnego połaczenia</h5>
                    </text>
                    }

                    @if (routes.ChangeList.Count == 1)
                    {
                    <text>
                        <h5>Połączenie bezpośrednie</h5>
</text>
                    }

                    @if (routes.ChangeList.Count > 1)
                    {
                    <text>
                        <h5> Połączenie z przesiadką</h5>
</text>

                    }

                    <h5>
                        Godzina przyjazdu do docelowego miejsca: @routes.ArrivalTime
                    </h5>

                </div>
            </text>
        </div>
    </div>
</div>


        foreach (var route in routes.ChangeList)
        {
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="route-info">
                <text>
                    <div class="panel-container">
                        <h4>Linia: @route.BusLineName</h4>
                        <h4>Odjazd: @route.DepartureTime</h4>
                    </div>
                    <!--Całkowity czas podróży: @routes.FullTimeOfTravel-->

                </text>
            </div>
            <div class="routes-table-container">

                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-2">#</th>
                            <th class="col-md-7">Przystanek</th>
                            <th class="col-md-3">Odjazd</th>
                        </tr>
                    </thead>
                    @foreach (var change in route.StopChangeList)
                    {
                    <tr>
                        <td><text>@change.StopSequence</text></td>
                        <td><text>@change.Name</text></td>
                        <td><text>@change.DepartureTime</text></td>
                    </tr>
                    
                    }
                </table>

            </div>

        </div>
    </div>
</div>
        }

        }

